OPENAI_MODEL=
OPENAI_URL=
OPENAI_MAX_RETRY=
OPENAI_TIMEOUT=
FLASK_APP=app
FLASK_CONFIG=docker

# Once you add your API key below, make sure to not share it with anyone! The API key should remain private.
SECRET_KEY=