{% extends 'tool/includes/layout.html' %}




{% block body %}
    <main class="container">
        <div class="bg-light p-5 rounded mt-5">
            <h1>Online AI Content Generator</h1>
            <p class="lead">It is a web application
                created in Flask that can be used to generate random content using Artificial Intelligence API from
                OpenAI.
            </p>
        </div>


        <div class="p-5 rounded mt-1">
            <div class="row">
                <!-- One Item Starts Here -->
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            CodeReview
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">CodeReview </h5>
                            <p class="card-text">check for code bugs and suggest changes </p>
                            <a href="/tool/code-review" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- One Item Ends here -->


                <!-- One Item Starts Here -->
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            Program Generate
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">Program Generate</h5>
                            <p class="card-text">automatically generate code snippets </p>
                            <a href="/tool/program-generate" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- One Item Ends here -->


                <!-- One Item Starts Here -->
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            Regex Generate
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> Regex Generate </h5>
                            <p class="card-text">automatically generate regular expressions</p>
                            <a href="/tool/regex-generate" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- One Item Ends here -->


                <!-- One Item Starts Here -->
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            SQL Generate
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> SQL Generate </h5>
                            <p class="card-text">automatically generate sql query statement </p>
                            <a href="/tool/sql-generate" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- One Item Ends here -->


                <!-- One Item Starts Here -->
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            TestCase Generate
                        </div>
                        <div class="card-body">
                            <h5 class="card-title">TestCase Generate </h5>
                            <p class="card-text"> automatic supplementary unit tests </p>
                            <a href="/tool/testcase-generate" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- One Item Ends here -->


                <!-- One Item Starts Here -->
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            PDF Extract
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> PDF Extract </h5>
                            <p class="card-text"> automatically extract pdf information </p>
                            <a href="/tool/pdf-extract" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- One Item Ends here -->

                <!-- One Item Starts Here -->
                <div class="col-lg-3 mb-3">
                    <div class="card">
                        <div class="card-header">
                            XMIND Transform
                        </div>
                        <div class="card-body">
                            <h5 class="card-title"> XMIND Transform </h5>
                            <p class="card-text"> automatically parse and convert xmind </p>
                            <a href="/tool/xmind-transform" class="btn btn-primary">Get Started</a>
                        </div>
                    </div>
                </div>
                <!-- One Item Ends here -->

            </div>
        </div>
    </main>
{% endblock %}
